@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Quirky Book Rental</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
     <button type="button" class="btn btn-info col-sm-offset-1">
         Tag Someone
        <span class="glyphicon glyphicon-tags"></span>  
    </button>  
    <button type="button" class="btn btn-info" >
        Download 
        <span class="glyphicon glyphicon-cloud-download"></span>
    </button>  
</div>