
<a type="button" class="btn ____Bootstrap-class_____ btn-sm" href="@Url.Action("____Action Name_____")">
    <span class="glyphicon glyphicon-__________"></span>
    <span>___Action Text_______</span>
</a><br />
